<section>
  <div class="user-container">
    <div>
      <img class="avatar" src="<%= @user.photo %>" alt="User Avatar"/>
    </div>

    <div class="user-name-posts">
      <a href="/users/<%= @user.id %>/posts">
        <h2><%= @user.name %></h2>
        <p class="posts-number">Number of posts:
          <%= @user.posts_counter || 0 %></p>
      </a>
    </div>
  </div>

  <div class="post-comments-container">
    <% @posts.each_with_index do |post, index| %>
      <a href="posts/<%= post.id %>">
        <h3>Post #<%= index + 1 %></h3>
      </a>
      <p><%= post.text %></p>

      <div class="comments-likes">
        <span>Comments:
          <%= post.comments_counter || 0 %>,</span>
        <span>Likes:
          <%= post.likes_counter || 0 %></span>
      </div>

      <div class="comments-container">
        <p>Comments:</p>
        <% post.recent_comments.each do |comment| %>
          <p><%= comment.author.name %>:
            <%= comment.text %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
