<section class="post-container">
  <h3>New Post</h3>
  <% if @post.errors.any? %>
    <div>
      <% @post.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>
  <%= form_with model: @post, url: user_posts_path(@user.id) do |form| %>
    <div>
      <%= form.text_field :title, required: true, class: "form-input", placeholder: "Title" %>
    </div>
    <div>
      <%= form.text_area :text, required: true, class: "form-input", placeholder: "Your post" %>
    </div>
    <%= form.submit "Submit Post", class: "form-button" %>
  <% end %>
</section>
