<section>
  <div>
    <div>
      <h3>Post #<%= @post.id %>
        by
        <%= @post.author.name %></h3>
      <div class="comments-likes">
        <span>Comments:
          <%= @post.comments_counter || 0 %>,</span>
        <span>Likes:
          <%= @post.likes_counter || 0 %></span>
      </div>
    </div>
    <p>
      <%= @post.text %>
    </p>
  </div>
  <div>
    <%= form_with model: @like, url: user_post_likes_path(@user, @post) do |form| %>
      <%= form.submit "Like" %>
    <% end %>
  </div>
  <ul>
    Comments:
    <% @comments.each do |comment| %>
      <li class="user-bio-div"><%= comment.author.name %>:
        <%= comment.text %></li>
    <% end %>
  </ul>
</section>
<button>
  <%= link_to "Create new comment", new_user_post_comment_path(@user, @post) %>
</button>
