<section>
  <div class="post-container">
    <div>
      <h3>Post #<%= @post.id %>
        by
        <%= @post.author.name %></h3>
      <div class="comments-likes-alt">
        <span>Comments:
          <%= @post.comments_counter || 0 %>,</span>
        <span>Likes:
          <%= @post.likes_counter || 0 %></span>
      </div>
    </div>

    <h2><%= @post.title %></h2>
    <p><%= @post.text %></p>
    <div class="button-container">
      <%= form_with model: @like, url: user_post_likes_path(@user, @post) do |form| %>
        <%= form.submit "Like Post", class: "like-button" %>
      <% end %>

      <% if can? :destroy, @post %>
        <%= form_with url: user_post_path(@user, @post), method: :delete do %>
          <button>Delete Post</button>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="comments-container">
    <h4>Comments:</h4>
    <% @comments.includes(:author).each do |comment| %>
      <p><strong><%= comment.author.name %>:</strong>
        <%= comment.text %></p>
      <% if can? :destroy, comment %>
        <%= form_with url: user_post_comment_path(@user, @post, comment), method: :delete, data: { confirm: 'Are you sure?' } do %>
          <button class="delete-button">Delete Comment</button>
        <% end %>
      <% end %>
      <hr>
    <% end %>
  </div>

  <button>
    <%= link_to "Create New Comment", new_user_post_comment_path(@user, @post) %>
  </button>
</section>
